
<!DOCTYPE html>

<html>

<head>
<title>Picas y Famas</title>
</head>

<body>
	<H1 align="center">Picas Y Fijas</H1>
	<form name = "registro" align="center">
		Digite su intento <input name="num" id="valor"> 
		<input
			type="button" name="num" value="Enviar" onClick="PicasYFijas()">
		<table align="center">
			<tbody>
				<tr>
					<th>Intento</th>
					<th>Picas</th>
					<th>Fijas</th>
				</tr>
				<tr>
					<th><input name="intento1" id="valor1"> </th>
					<th><input name="picas1" id="valorP1"> </th>
					<th><input name="fijas1" id="valorF1"> </th>
					
				</tr>
				<tr>
					<th><input id="valor2"> </th>
					<th><input name="picas1" id="valorP2"> </th>
					<th><input name="fijas1" id="valorF2"> </th>
					
				</tr>
				<tr>
					<th><input name="intento1" id="valor3"> </th>
					<th><input name="picas1" id="valorP3"> </th>
					<th><input name="fijas1" id="valorF3"> </th>
					
				</tr>
				<tr>
					<th><input name="intento1" id="valor4"> </th>
					<th><input name="picas1" id="valorP4"> </th>
					<th><input name="fijas1" id="valorF4"> </th>
					
				</tr>
				<tr>
					<th><input name="intento1" id="valor5"> </th>
					<th><input name="picas1" id="valorP5"> </th>
					<th><input name="fijas1" id="valorF5"> </th>
					
				</tr>
			</tbody>
		</table>
		<H1  align="center" id = "estado">En Juego...</H1>
	</form>
</body>
<script src="js/Main.js"></script>
</html>

